/* General */

html, body, #root, .page-container { min-height: 100vh; }

body {
	background: url(/coffee-shop.jpg) no-repeat center center fixed;
  	background-size: cover;
}

/* Page container */
.page-container {
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1;
	background: rgba(255, 255, 255, 0.9);
	padding: 2rem 2rem;
}

/* Nav Bar */
.page-nav {
	position: relative;
	background: rgba(255, 255, 255, 0.9);
}

.inner-nav {
	display: flex;
	padding: 1rem 1rem;
	align-items: center;
}

.logo {
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	margin-right: 1rem;
}

.logo-icon-container {
	width: 40px;
	height: 33px;
	margin-right: 0.5rem;
	display: inline-block;
}

.logo-icon {
	max-width: 100%;
}

.nav-link {
	text-decoration: none;
	color: #333;
	font-size: 1.6rem;
	font-weight: 300;
	margin-right: 1rem;
}
.nav-link:last-child {
	margin-right: 0;
}

.nav-link:hover {
	color: #1eaedb;
}

.active-nav-link {
	font-weight: 600;
}

.nav-link span {
	color: #1eaedb;
}

#responsive-nav-toggle {
	display: none;
}
.menu-toggle {
	display: none;
	cursor: pointer;
}

.responsive-nav {
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 999;
	width: 100vw;
	max-height: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	transition: 0.2s ease all;
}

.responsive-nav.active {
	max-height: 300px;
}

.responsive-nav .nav-link {
	margin-right: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.responsive-nav .nav-link:hover {
	background: rgba(30, 174, 219, 0.5);
	color: white;
}
.menu-button {
	display: none;
	padding: 0;
	margin: 0;
	border: none;
	height: 32px;
	width: 30px;
	opacity: 0.7;
}

.menu-button:hover {
	opacity: 0.9;
}

.menu-button img {
	max-width: 100%;
	height: auto;
}

.nav-searchbar {
	display: flex;
	margin-right: 1rem;
}
.nav-searchbar input {
	padding: 6px 34px 6px 10px;
	width: 150px;
	margin-bottom: 0;
}

.nav-search-button {
	background: none;
	border: none;
	margin: 0 0 0 -30px;
	padding: 0;
	opacity: 0.7;
}


.nav-search-button:hover {
	opacity: 1;
}

@media (max-width: 800px) {
	.nav-searchbar {
		display: none;
	}
	.responsive-nav-searchbar {
		display: flex;
		margin-bottom: 10px;
	}
	.responsive-nav-searchbar input {
		width: 100%;
	}
	.menu-toggle {
		display: inline-block;
	}
	.main-nav-link {
		display: none;
	}
	.responsive-nav {
		display: flex;
	}
	.menu-button {
		display: inherit;
	}
}

/* Home Page */
.home-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-page * {
  min-height: 0;
  min-width: 0;
}

.welcome-message {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.welcome-message span {
	color: #1eaedb;
	font-weight: 500;
	font-size: 4rem;
	line-height: 4.2rem;
	text-align: center;
}


.action-set a{
	display: block;
	margin-bottom: 1rem;
}

.slider-container {
	position: relative;
	max-width: 700px;
	width: 100%;
	margin-bottom: 40px;
}

.slider-item {
	max-width: 700px;
	cursor: pointer;
	width: 100%;
}

.slider-item img {
	max-width: 100%;
}

/* About Page */

#about-video {
   width:100%;
   max-width:600px;
   height:auto;
   margin-bottom: 2.5rem;
}

.about-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-text {
	max-width: 600px;
}

.about-sign-off {
	max-width: 600px;
	font-weight: 300;
	font-style: italic;
}
.about-sign-off span {
	margin-left: 2rem;
	font-weight: 700;
}

/* Map Page */
.product-map-page {
	display: flex;
}

/* Roaster List */

.roaster-list {
	width: 270px;
	padding: 2rem 5px 0 0;
	max-height: 70vh;
	overflow: auto;
}
.roaster-list-item {
	border-left: 5px solid transparent;
	padding-left: 3px;
}
.roaster-list-item-top {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.roaster-list-img-container {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	cursor: pointer;
}
.roaster-list-img-container img{
	max-width: 100%;
	max-height: 100%;
	flex-basis: 100%;
}

.roaster-list-item-title {
	color: #1eaedb;
	font-weight: 500;
	line-height: 1.3rem;
}

.roaster-list-item-title:hover {
	color: #1eaedb;
}

.roaster-top-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.roaster-list-item-location {
	color: #222;
	font-size: 1.2rem;
	font-weight: 500;
}
.roaster-list-item-description {
	color: #222;
	font-size: 1.4rem;
	padding: 0 12px;
}
.roaster-list-item-content {
	height: 0;
	overflow: hidden;
}
.roaster-bottom-info {
	display: flex;
	justify-content: space-between;
	padding: 5px 12px;
}
.roaster-list-item-count {
	font-weight: 500;
	font-size: 1.3rem;
}

.roaster-list-item-link {
	text-decoration: none;
	font-weight: 500;
}
.roaster-list-item-active .roaster-list-item-content {
	height: initial;
	overflow: auto;
}
.roaster-list-item-active {
	border-color: #1eaedb;;
}
.roaster-list-item-highlighted {
	border-color: #1eaedb;;
}

/* Map */
.map {
	flex: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mapboxgl-canvas {
	outline: none;
}

@media (max-width: 600px) {
	.product-map-page {
		flex-direction: column;
		padding: 0;
	}
	.roaster-list {
		width: 100%;
		padding: 1rem 0 0 0;
		order: 3;
		overflow: auto;
		max-height: 50vh;
	}
	.roaster-list-item {
		padding-right: 2rem;
	}
	.map {
		flex: initial;
		height: 50vh;
	}
}

/* Catalog Page*/
.product-catalog-page {
	display: flex;
	flex-direction: row;
}

/* Catalog Filter */

.catalog-filter {
	/*background: #eee;*/
	/*border: 1px solid #eee;*/
	border-radius: 5px;
	padding: 0.5rem;
	margin-top: 2rem;
	min-width: 175px;
}

.filter-subject-item input[type='radio'] {
	display: none;
}
.filter-subject-radio + label {
	cursor: pointer;
	background: white;
}
.filter-subject-radio + label:hover {
	cursor: pointer;
}
.filter-subject-radio:checked + label {
	background: #1eaedb;
	border-color: #1eaedb;
	color: white;
}
.filter-subject {
	display:flex;
	/*justify-content: center;*/
}
.filter-subject-item {
	flex: 1;
}
.filter-subject-item:first-child label{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-right: none;
}
.filter-subject-item:last-child label{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-left: none;
}
.filter-subject label {
	text-align: center;
	border: 1px solid #eee;
	font-size: 1.4rem;
	padding: 2px 6px;
}

.filter-section-title {
	font-weight: 500;
	color: #1eaedb;
}
.filter-section-options {
	font-weight: 300;
	font-size: 1.3rem;
	text-transform: capitalize;
	margin-left: 1rem;
}
.filter-option {
	cursor: pointer;
}
.filter-option:hover {
	cursor: pointer;
	color: #1eaedb;
}
.filter-option-active {
	font-weight: 600;
}

.main-catalog-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top: 2rem;
}
.search-statement {
	align-self: flex-end;
	font-weight: 300;
}
.search-statement-term {
	color: #1eaedb;
	font-weight: 500;
}
.search-statement-clear {
	margin-left: 1rem;
	color: #bbb;
}
.filter-toggle {
	display: none;
	margin-left: 3rem;
}
.filter-toggle:hover {
	cursor: pointer;
	color: #1eaedb;
}
@media (max-width: 700px) {
	.product-catalog-page {
		flex-direction: column;
	}
	.catalog-filter {
		margin-top: 0;
	}
	.filter-panel {
		max-height: 0;
		overflow: hidden;
		transition: 0.3s ease max-height;
	}

	.filter-panel-active {
		max-height: 800px;
		transition: 0.3s ease max-height;
	}

	.filter-toggle {
		display: block;
	}
	.top-filter-panel {
		display: flex;
	}
	.filter-subject {
		flex: 1;
	}
}



/* Catalog Items */
.catalog-items {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	width: 150px;
	margin: 10px;
	/*background: #efe;*/
}
.catalog-img-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 150px;
}
.catalog-img-container img {
	max-width: 100%;
	max-height: 100%;
	/*filter: grayscale(100%);*/
	transition: 0.3s ease filter;
	cursor: pointer;
}
.catalog-img-container img:hover {
	/*filter: grayscale(0%);*/
}

.item-title {
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

.item-roaster, .item-location {
	font-weight: 500;
	font-size: 1.2rem;
	line-height: normal;
}
.catalog-info-footer {
	display: flex;
	align-items: center;
}
.item-price {
	font-weight: 300;
}
.item-add-cart {
	font-size: 1.3rem;
	cursor: pointer;
}
.item-add-cart:hover {
	color: #1788AC;
	font-size: 1.3rem;
}
.item-coffee-count {
	font-weight: 300;
	font-size: 1.3rem;
	margin-left: 0.5rem;
	color: #777;
}

.no-catalog-items {
	align-self: center;
	text-align: center;
}
@media (max-width: 450px) {
	.catalog-items {
		justify-content: space-around;
	}
	.catalog-item {
		width: 40%;
		margin: 0 0 5px 0;
	}
}

/* Bean Items */
.bean-item {
}

/* Roaster Items */
.roaster-item {
}

/* Cart */

.order-confirmation-button {
	float: right; 
} 

.cart-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	background: rgba(255, 255, 255, 0.9);
}

.cart-page-business-end {
	display: flex;
	align-items: center;
}
.cart-total {
	font-weight: 600;
	margin-right: 2rem;
}
.cart-total span {
	font-weight: 500;
}
.checkout-button {
	margin-bottom: 0;
}

.cart-review {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.cart-review-title {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.cart-table td {
	padding: 6px 15px;
}

.cart-table select {
	margin-bottom: 0;
}

.item-review-name {
	font-weight: 500;
	text-decoration: none;
}
.item-review-roaster {
	display: block;
	line-height: normal;
	font-weight: 500;
	font-size: 1.1rem;
	color: #222;
	text-decoration: none;
}
.item-review-roaster:hover {
	color: #666;
}
.item-roast {
	font-size: 1.3rem;
	font-weight: 500;
}
.item-roast span {
	font-weight: 300;
	text-transform: capitalize;
}

.item-delete-button {
	color: #222;
	font-weight: 300;
	cursor: pointer;
}

.item-delete-button:hover {
	color: #c32929;
	font-weight: 400;
}

/* Bean Page */
/*.bean-page {
	display: flex;
	flex-direction: column;

}*/
.bean-page-top {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.product-img-container {
	height: 200px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}
.product-img-container img{
	max-width: 100%;
	max-height:100%;
}
.bean-page-info {
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	min-width: 250px;
}
.product-title {
	font-weight: 600;
	font-size: 2.2rem;
	color: #1eaedb;
	line-height: 2.2rem;
}
.product-roaster {
	font-size: 1.5rem;
	color: #777;
	font-weight: 500;
	line-height: 2.2rem;
	text-decoration: none;
}
.product-roaster:hover {
	color: #333;
}
.product-roast-type {
	font-weight: 500;
}
.product-roast-type span{
	font-weight: 300;
	text-transform: capitalize;
}
.product-price {
	font-weight: 600;
	font-size: 2rem;
	color: #555;
}
.product-description {
	padding: 0 20px;
	max-width: 600px;
}
@media (max-width: 700px) {
	.bean-page-top {
		flex-direction: column;
		align-items: center;
	}
	.product-img-container {
		margin: 0 0 1rem 0;
	}
}

/* Roaster Page */
.roaster-img-container {
	height: 200px;
	width: 200px;
	margin-bottom: 1rem;
}
.roaster-img-container img{
	max-width: 100%;
	min-width: 100%;
}
.roaster-title {
	color: #1eaedb;
	font-size: 2rem;
	font-weight: 600;
	line-height: 2rem;
}
/*.roaster-title-location {
	display: flex;
	align-items: center;
}*/
.roaster-location {
	font-weight: 500;
	font-size: 1.3rem;
}
.roaster-content {
	max-width: 600px;
}
.roaster-section-label {
	font-weight: 500;
	font-size: 1.8rem;
	margin-top: 2rem;
}
.roaster-products {
	display: flex;
	flex-wrap: wrap;
}

/* Order Status Page*/
.order-status-page {
	flex-direction: column;
}
.main-sorry {
	font-size: 3rem;
	font-weight: 600;
	color: #eb4334;
}
.main-thank-you {
	font-size: 3rem;
	font-weight: 600;
	color: #1eaedb;
}
.thank-you-message {
	max-width: 300px;
}
.thank-you-message .signoff {
	color: #1eaedb;
	font-style: italic;
	font-weight: 500;
}

/* Footer */
.footer-container {
	background: rgba(255, 255, 255, 0.9);
	font-size: 1.2rem;
	text-align: center;
	font-style: italic;
	padding: 0.5rem 0;
}

.product-map-page + .page-footer {
	background: rgba(255, 255, 255, 0.9);
}
.product-map-page + .page-footer .footer-container {
	background: none;
}

/* Util */

.flex-spacer {
	flex: 1;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-center-full {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Random Sweet Alert Fix */
.sweet-alert button {
	padding: 0 30px;
	color: white;
}
 
.order-confirmation-desktop {
	display: block; 
}

.order-confirmation-mobile {
	display: none; 
}

.cancel-fail {
	color: #dc5089; 
}

.cancel-success {
	color: #66b141; 
}

 @media screen and (max-width: 855px) {
	.order-confirmation-desktop {
		display: none; 
	} 
	.order-confirmation-mobile {
		display: block; 
	}

	.order-confirmation-mobile-card {
		background: #fff;
		padding: 35px;
		-webkit-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
		border-radius: 4px;
		margin-bottom: 30px;
	}
	.order-confirmation-mobile-card div {

		padding: 10px 0px; 
		border-bottom: 1px solid rgba(197, 197, 197, 0.48);
	}
	.order-confirmation-mobile-card select {

		margin-bottom: 0; 
	}

	.order-confirmation-mobile-footnote {
		text-align: center; 
	}

	.order-confirmation-button {
		float: none; 
	}

	.roaster-mobile {
		margin-left: 10px; 
		display: inline-block; 
	}
 }